*.IAB
*.IAD
*.IMD
*.PFI
*.PO
*.PRI
*.PS
*.SearchResults
*.WK3
*.IMB
*.PR
*.DS_Store
development/sigfox_cfg2/binary/*_app_*.hex
development/sigfox_cfg2/binary/*_app_*.zip
development/sigfox_cfg2/binary/*_bl_setting_*.hex
development/sigfox_cfg2/binary/*_bootloader_*.hex
development/sigfox_cfg2/binary/*_factory_*.*
development/sigfox_cfg2/binary/*.dll
development/sigfox_cfg2/binary/nrfjprog.*
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/_nrf52832_xxaa/
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/_build/
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/RTE/
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_bootloader_secure/pca10040/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/_nrf52832_xxaa/
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/_build/
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/RTE/_nrf52832_xxaa_s132/
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_bootloader_secure/pca10040_debug/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/_nrf52832_xxaa/
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_direct_test_mode/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/tools/decompress/
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_gps_example/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_sensors_example/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_sigfox_example/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_wifi_example/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/JLinkLog.txt
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/JLinkSettings.ini
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/RTE/_nrf52832_xxaa/
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/_build/
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/_build_gcc/
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/*.uvguix.*
development/sigfox_cfg2/source_simplework_example/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
_build
